.previewBox {
  width: 60%;
  background-color: #454545;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgWrap {
  background-color: #fff;
  margin-bottom: 20px;
}
