.li {
  width: 33%;
}

.cardWrap {
  width: 100%;
  height: auto;
  padding-top: 58%;
  position: relative;
  background: #fa0;
}

.cardWrap > .scale {
  position: absolute;
  transform: translate(-50%, -50%) scale(0.3);
  top: 50%;
  left: 50%;
}

.deleteBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.cardWrap:hover .deleteBtn,
.deleteBtn:focus {
  z-index: 1;
}
