.friendList {
  margin-bottom: 40px;
}

.friendList h2 {
  font-size: 20px;
}

.friendList > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.friendList > ul > li {
  width: 33%;
  height: 350px;
  background-color: #fa0;
  margin-top: 20px;
}
