.friendList {
  margin-bottom: 40px;
}

.friendList h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.friendList > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.friendList > ul > li {
  width: 100%;
}
