[class^="hidden"] {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -99999px;
  left: -99999px;
  z-index: -9999;
  overflow: hidden;
}

[class^="wrapInner"] {
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  height: inherit;
  margin: 0 auto;
}
