/* .footBox */
.footBox {
  height: 200px;
  background-color: #1e243d;
  color: #fff;
  padding: 40px 0px;
  box-sizing: border-box;
}

.footBox [class^="wrapInner"] {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.inb {
  text-align: right;
}

.sns {
  font-size: 24px;
}

.sns a + a {
  margin-left: 10px;
}

.footBox small {
  display: block;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footBox {
    height: auto;
  }
  .footBox [class^="wrapInner"] {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: unset;
  }
  .inb {
    text-align: center;
    margin: 20px 0px;
  }
}
